<p>games-page works!</p>
<a [routerLink]="''">Go to dashboard</a>

<div>
  @for (card of cards; track card; let i = $index; let isFirst = $first; let isLast = $last;
        let isEven = $even; let isOdd = $odd) {
    <span>{{ i }} {{ isFirst }} {{ isLast }} {{ isEven }} {{ isOdd }}</span>
    <div class="game-card-container" [class.first]="isFirst" [ngClass]="{ 'last': isLast }"> <!-- Add 'first' class to the first card -->
      @if (card.isVisible) {
        <app-game-card></app-game-card>
      }
      @else {
        <span>Card {{ i }} is hidden</span>
      }
    </div>
  }
</div>